<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/home.js"></script>
    <style>
        td {
            width: 200px;
        }

        th {
            text-align: left;
        }

        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<a th:href="@{/logout}">Logout</a>

<h2>Books:</h2>
<span th:text="${bookFetch}"/>
<span th:text="${addOk}"/>
<span th:text="${updateOk}"/>
<span th:text="${addError}"/>
<span th:text="${updateError}"/>
<span th:text="${deleteMessage}"/>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Price(RON)</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.quantity}"></td>
    </tr>
    </tbody>
</table>

<hr/>

<div class="container">
    <form th:action="@{/book}" th:object="${book5}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">

        <input type="submit" class="button" name="opsUser" value="OperationsOnUser" />

        <div class="form-group">
            <label for="title" class="col-sm-4 control-label">Title:</label>
            <div class="col-sm-8">
                <input type="text" name="title" th:field="*{title}" id="title" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="author" class="col-sm-4 control-label">Author:</label>
            <div class="col-sm-8">
                <input type="text" name="author" th:field="*{author}" id="author" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="genre" class="col-sm-4 control-label">Genre:</label>
            <div class="col-sm-8">
                <input type="text" name="genre" th:field="*{genre}" id="genre" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-4 control-label">Price:</label>
            <div class="col-sm-8">
                <input type="number" name="price" th:field="*{price}" step="0.01"  id="price" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="quantity" class="col-sm-4 control-label">Quantity:</label>
            <div class="col-sm-8">
                <input type="number" name="quantity" th:field="*{quantity}" id="quantity" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="IdBookUp" class="col-sm-4 control-label">BookId which you want to update:</label>
            <div class="col-sm-8">
                <input type="text" name="IdBookUp" th:field="*{id}" id="IdBookUp" class="form-control"/>
            </div>
        </div>
        <input type="submit" class="button" name="add" value="AddBook" />
        <input type="submit" class="button" name="update" value="UpdateBook" />
        <input type="submit" class="button" name="search" value="FetchBookDataFromAPI(title-based)"/>
        <div class="form-group">
            <label for="apiId" class="col-sm-4 control-label">List Id For Book You Want To Insert From Api</label>
            <div class="col-sm-8">
                <input type="text" name="apiId" id="apiId" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="addAPI" value="Add Book based on list id"/>
        <div>
            <label f  ="typeReport" class="col-sm-4 control-label">ReportType</label>
            <div class="col-sm-8">
                <input type="text" name="typeReport" id="typeReport" class="form-control"/>
            </div>
        </div>
        <input type="submit" class="button" name="genReport" value="GenerateReport" />
    </form>

    <form th:action="@{/deleteBook}" method="get">
        <div class="form-group">
            <label for="IdBook" class="col-sm-4 control-label">BookId which you want to delete:</label>
            <div class="col-sm-8">
                <input type="text" name="IdBook" id="IdBook" class="form-control"/>
            </div>
        </div>
        <input type="submit" class="button" name="delete" value="Delete" />

    </form>

    <form th:action="@{/viewBook}" method="get">
        <input type="submit" class="button" name="viewBooks" value="View Books" />
    </form>
</div>
</body>
</html>